<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>玩转spring boot——简单登录认证</title>
    <style type="text/css">
        .login{
            float: left;
            margin-left: 34px;
        }
    </style>
    <script type="text/javascript" src="/lib/jquery-3.2.1.min.js"></script>
</head>
<body>
<h1>简单登录认证</h1>

    <input id="username" class="login" type="text" name="userName"></input>
    <input id="password" class="login" type="password" name="password"></input>
    <button onclick="submit()" class="login">提交</button>

<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
